[Desktop Entry]
Encoding=UTF-8
Name=Link to http://a2.qpic.cn/psb?/V11vSRn9214jUt/*80u3vppFc8ULth8uRDc8KlVI2Z498CmsrDSuKOVjJo!/b/dIUBAAAAAAAA&ek=1&kp=1&pt=0&bo=IAMgAwAAAAARECc!&vuin=2788807155&tm=1504360800&sce=60-2-2&rf=viewer_311
Type=Link
URL=http://a2.qpic.cn/psb?/V11vSRn9214jUt/*80u3vppFc8ULth8uRDc8KlVI2Z498CmsrDSuKOVjJo!/b/dIUBAAAAAAAA&ek=1&kp=1&pt=0&bo=IAMgAwAAAAARECc!&vuin=2788807155&tm=1504360800&sce=60-2-2&rf=viewer_311
Icon=image-jpeg
Name[en_US]=fff
